<div class="row no-gutters site-content ">
    <section class='dashboard dashWrap'>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-right: -8px;">
                <a routerLink='/home/security'>
                    <div class="dashboard-stat grey">
                        <div class="visual">
                            <i class="dash-security"><img src="./assets/images/Dash_Security.png" /></i>
                        </div>
                        <div class="details security">
                            <div class="desc" style='margin-top: 58%; margin-right: 0px; padding-right:27px;'>Security</div>
                            <div class="number">
                                <span data-counter="counterup" data-value=""></span>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a routerLink='/home/reports'>
                    <div class="dashboard-stat grey">
                        <div class="visual">
                            <i class=""><img src="./assets/images/Dash_reports.png" /></i>
                        </div>
                        <div class="details reports">
                            <div class="desc" style='margin-top: 60%; margin-right: 0px; padding-right:27px;'> Reports </div>
                            <div class="number">
                                <span data-counter="counterup" data-value=""></span> </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-right: -8px;">
                <a routerLink='/home/analytics'>
                    <div class="dashboard-stat grey">
                        <div class="visual">
                            <i class=""><img src="./assets/images/Dash_Analytics.png" /></i>
                        </div>
                        <div class="details">
                            <div class="desc" style='margin-top: 53%; margin-right:0px; padding-right:27px;'> Analytics</div>
                            <div class="number">
                                <span data-counter="counterup" data-value=""></span>
                            </div>

                        </div>

                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a routerLink='/home/administration/enrollment/search'>
                    <div class="dashboard-stat grey">
                        <div class="visual">
                            <i class=""><img src="./assets/images/Dash_Administration.png" /></i>
                        </div>
                        <div class="details">
                            <div class="desc" style='margin-top:35%; margin-right: 0px; padding-right:27px;'> Administration </div>

                        </div>

                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
