h1, h2, h3 {
    font: Segoe UI;
    color: #2f2f2f;
}
h1 {
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 30px;
    margin-left: -15px;
}
h2 {
    font-weight: 600;
    font-size: 15px;
}
h3 {
    font-weight: normal;
    font-size: 13px;
}
.md-padding-top {
    padding-top: 70px;
}
.sd-padding-top {
    padding-top: 20px;
}
.sd-margin-top {
    margin-top: 20px;
}

.block-group {
    background-color: #f0f0f0;
    border: 1px solid #d7d7d7;
     margin-top: 10px;
    padding: 15px 16px 2px 16px;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important; */
}
.block-group h2 {
    padding-bottom: 6px;
    cursor:pointer;
}
.block-group-invert {
    background-color: #FFF;
}
.expand-icon, .collapse-icon {
    height: 29px;
    width:29px;
    display:inline-block;
}
.expand-icon {
    background: url(./assets/images/accordion-closed.png) no-repeat center;
} 
.collapse-icon {
    background: url(./assets/images/accordion-open-new.png) no-repeat center;
}
.search-button {
    background: url(./assets/images/search-icon.png) no-repeat center;
    width: 41px;
    height: 41px;
    border: none;
    /*background-size: 100%;*/
}
.pass-icon:before {
    content: "\f005";
    color: #fe5e3c;
    font-size: 9px;
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}
.search-button:focus {
    outline: none;
}
.clear-button {
    outline: none; 
    background: url(./assets/images/reset-icon.png) no-repeat center;
    width: 41px;
    height: 41px;
    border: none;
}
.clear-close {
    position: absolute;
    right: 81px;
    bottom: 27px;   
    cursor: pointer;
}

.accordion-icon {
    position: absolute;
    right: 15px;
    top: 7px;
}
a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}
.paymentCriteria form {
    width: 100%;
}
.error-input {
    padding: 0;
}
.user-result-list {
    background: #FFF;
}
.user-result-list-inner {
    padding: 15px 10px;
}
.help-popup {
    float: right;
    cursor: pointer;
    position: absolute;
    right: 28%;
    top: 11px;
}
.result-set-info-top {
    padding: 10px 0 0 0px;
    height: 32px;
}
.has-error .form-control {
    border-color: #FF0000;
}
body .ui-tabview-left.ui-tabview .ui-tabview-nav li.ui-state-active, body .ui-tabview-right.ui-tabview .ui-tabview-nav li.ui-state-active {
    background: #fff !important;
    margin-right:-1px !important;
}
.single-field .clear-close {
   
    right: 133px;
    bottom: 9px;   
}  
.help-popup a {
    padding-right: 6px;
    padding-left: 6px;
    border-right: 1px solid #b9aeae;
}
