.login-page-body .sos-ui-site-content{
  padding-top: 60px;
  padding-bottom: 60px;
}
.login-page-body .login-ui-content-layout {
  min-height: calc(100vh - 120px);
  width: 45%;
}

.login-page-body .login-ui-content {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-top: 25%; */
    /* padding-bottom: 25%; */
  
    /* min-height: 100%; */
}

.login-page-body .login-ui-content-logo {
  padding-bottom: 0rem;
}

.login-page-body .login-ui-content-logo-label {
  padding-top: 0.2rem;
  /* padding-bottom: 2rem; */
  padding-bottom: 4%;
  margin-top: 1rem;
}

.login-page-body .login-label {
  color: #1071af;
  font-size: 1.45rem;
  /* padding-top: 14px; */
  /* padding-bottom: 46px; */
   padding-bottom: 6%;
  padding-top: 1px;
  text-align: center;
}

.login-page-body .form-control {
  border-radius: 0;
}

.login-page-body input.form-control {
  height: 30px;
  border: 0px;
}

.login-page-body input.form-control {
  border-bottom: 1px solid #1071af;
}

.login-page-body .login-form {
  padding-top: 1rem;
  color: #1071af;
  font-size: 1rem;
}

.login-page-body .form-control.btn.btn-primary {
  background-color: #FE5E3C;
  font-size: 1.09rem;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0px;
  height: 50px;
}

.login-page-body .form-group.top-pad {
  padding-top: 0.8rem;
}

.login-page-body .form-group {
  width: 75%;
}

.login-page-body .login {
  position: relative;
}

.login-page-body .login input {
  text-indent: 1px;
}

.login-page-body .login .fa-user, .login .fa-key {
  position: absolute;
  font-size: 1.5em;
  color: #1071af;
  display: block;
}

.login-page-body .login .fa-user {
  top: -33px;
  left: 0px;
}

.login-page-body .login .fa-key {
  -webkit-transform: rotate(135deg);
  /* Chrome, Safari, Opera */
  -webkit-transform-style: preserve-3d;
  /* Chrome, Safari, Opera */
  transform: rotate(135deg);
  transform-style: preserve-3d;
  top: 0px;
  left: -1px;
  font-size: 1.3em;
}

.login-page-body .enter-text {
  display: none;
  float: left;
  padding-left: 3px;
}

.login-page-body .enter-text-span {
  display: block;
  float: left;
  padding-left: 3px;
}

@media (height: 1024px) and (width: 1366px) {
  .login-page-body .login-ui-content-logo {
    padding-top: 0px;
  }
  .login-page-body .enter-text {
    display: block;
    float: left;
    padding-left: 3px;
  }
  .login-page-body .login-label {
    font-size: 1.2rem;
  }
}

@media (min-width: 0px) and (max-width: 414px) {
  .login-page-body .login-ui-content-layout {
    width: 100%;
  }
  .login-page-body .login-ui-content {
    width: 100%;
  }
  .login-page-body .enter-text {
    display: block;
    float: left;
    padding-left: 3px;
  }
  .login-page-body .login-label {
    font-size: 1.2rem;
  }
 }
/* @media(max-height:590px){
  .login-ui-content{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .login-label {
   padding-bottom: 0;
  }
}
@media(max-height:768px){
 
  .login-label {
   padding-bottom: 3%;
  }
}  */

.login-page-body .floating-label-placeholder {
  font-size: 14px!important;
  color: #0a4676!important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
  position: absolute;
  display: block;
}

.login-page-body .form-group.top-pad.mx-auto.login.pass {
  padding-top: 25px;
  padding-bottom: 0px;
}

.login-page-body .form-group.mx-auto.login.user {
  padding-top: 0px;
  /* padding-bottom: 34px; */
  padding-bottom: 5%;
}

.login-page-body .floating-label-placeholder.pass {
  top: -2px;
  left: 33px
}

.login-page-body .floating-label-placeholder.user {
  top: -27px;
  left: 32px
}

.login-page-body button {
  cursor: pointer;
}

.login-page-body .form-control {
  padding: 0px;
}

.login-page-body .form-control#username:focus, .form-control#password:focus {
    /*border-bottom: solid 1px #FE5E3C;*/
    border-bottom: solid 1px #FF0000;
    
  }
 /* Overriding styles */
  .login-page-body ::-webkit-input-placeholder {
    font-size: 13px!important;
    color:#626262!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
  
  }
  .login-page-body :-moz-placeholder { /* Firefox 18- */
        font-size: 13px!important;
        color:#626262!important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
  }
  .login-page-body ::-moz-placeholder {  /* Firefox 19+ */
        font-size: 13px!important;
        color:#626262!important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
  }
  .login-page-body ::-ms-input-placeholder { /* Microsoft Edge */
      font-size: 13px!important;
        color:#626262!important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
  }
  .login-page-body :-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size: 13px!important;
        color:#626262!important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}

 /*input.ng-touched.ng-invalid, input.ng-pristine.ng-invalid.ng-touched, 
 input.ng-dirty.ng-touched.ng-invalid{
   border-bottom: solid 1px #FF0000;
 }*/
 .login-page-body input.form-control#username, input.form-control#password {
  border-bottom: solid 1px #1071af;
  
}
.login-page-body .sos-ui-header{
  background-color:#092D4F;
  min-height: 60px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-height: 600px) and (max-height: 900px ) {
  .login-page-body .sos-ui-footer{
    min-height: 52px;
  }
  .login-page-body .footer-text-wrapper-box{
    height: 52px; line-height: 52px;   
  }
}
.login-page-body .sos-ui-footer {
    z-index: 0px;
}
.login-page-body .login-ui-content-layout {
  margin: auto;
}
