<div class="container-fluid no-gutters">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-group search-criteria-block">
        <h2>
            Payments - ACN : {{ acn }}
        </h2>
        <div class="container-fluid no-gutters block-group-invert search-criteria detailTables">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 block-group search-criteria-block mx-auto ">
                <h2>
                    Name: <span class="value-font">{{ data?.firstName }} {{ data?.lastName }} </span>
                    <span class="status-span">Application Status: <span class="value-font"> {{ data?.applicationStatus }} </span></span>
                </h2>

                <div class="container-fluid no-gutters block-group-invert search-criteria administrationPaymentHistroy ">
                    <div class="loading-container text-center my-5" *ngIf="noDataMessage">
                        <span class="error-message">
                            <i class="fa fa-exclamation-triangle"></i> {{ noDataMessage }}
                        </span>
                    </div>
                    <p-dataTable [value]="paymentList" [paginator]="false" scrollable="true" scrollWidth="auto" *ngIf="paymentList.length > 0">
                        <p-column header="NO." [style]="{'width':'32px' }">
                            <ng-template let-i="rowIndex" pTemplate="body">
                                {{ i + 1 }}
                            </ng-template>
                        </p-column>
                        <p-column field="paymentTrackingDate" header="PAYMENT DATE" [sortable]="true" [filter]="false" [style]="{'width':'162px'  }">
                            <ng-template let-userRow="rowData" pTemplate="body">
                                {{ userRow?.paymentTrackingDate | dateX:'YYYY-MM-DD HH:mm:ss.SSS' }}
                            </ng-template>
                        </p-column>
                        <p-column field="paymentTrackingID" header="PAYMENT TRACKING ID" [sortable]="true" [filter]="false" [style]="{'width':'240px' }"></p-column>
                        <p-column field="paymentTrackingStatus" header="INITIAL/ONGOING" [sortable]="true" [filter]="false" [style]="{'width':'153px'}"></p-column>
                        <p-column field="paymentType" header="PAYMENT TYPE" [sortable]="true" [filter]="false" [style]="{'width':'134px'}"></p-column>
                        <p-column field="paymentAmount" header="PAYMENT AMOUNT" [sortable]="true" styleClass="paddLeft" [filter]="false" [style]="{'width':'161px', 'text-align' : 'center'  }">
                            <ng-template let-userRow="rowData" pTemplate="body">
                                $ {{ userRow?.paymentAmount }}
                            </ng-template>
                        </p-column>
                        <p-column field="deletedFlag" header="STATUS" [sortable]="true" styleClass="paddLeft" [filter]="false" [style]="{'width':'103px','text-align' : 'center'  }"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>