<div class="container-fluid no-gutters">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-group search-criteria-block">
        <h2 (click)="showForm = !showForm">
                By Partner
                <a class="accordion-icon" >
                <span [ngClass]="{'expand-icon': showForm, 'collapse-icon': !showForm }"></span>
                </a>             
        </h2> 
        <div class="bypartnerpopover"><i class="fa fa-info-circle"[popover]="popTemplate" tabindex="1"
            placement="bottom" triggers="focus"></i>
        <ng-template #popTemplate><div class="bypopover" >This report provides a summary of partner sales by products - Medicare Advantage, Medicare Supplement and PDP. Sales count is further broken by following statuses.</div>
        </ng-template></div>
        <div class="block-group-invert" [hidden]='showForm'>
            <div class="content no-gutters mx-auto formHolder">
                <form [formGroup]="byPartnerForm" name="byPartnerForm" novalidate class="form-inline" (submit)="searchReport()">
                    <div class="col-lg-4 col-md-6 col-sm-9">
                        <div class="form-group sd-padding-top primNgcalendarField">
                            <label for="fromDate" class="calendarFieldLabel"><h3 class="pass-icon">FROM</h3></label>
                            <p-calendar placeholder="mm/dd/yyyy" formControlName="fromDate" #fromDateInput dateFormat="mm/dd/yy" showIcon="true" [maxDate]="maxFromDate"
                                icon="fa-calendar" inputStyle="" [(ngModel)]="fromDate" inputStyleClass="form-control" [inline]="false"
                                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2017"></p-calendar>
                                <analytics-calendar-error-messages [control]="byPartnerForm.controls.fromDate" [htmlElem] = "fromDateInput">
                                </analytics-calendar-error-messages> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-9">
                        <div class="form-group sd-padding-top primNgcalendarField">
                            <label for="toDate" class="calendarFieldLabel"><h3 class="pass-icon">TO</h3></label>
                            <p-calendar placeholder="mm/dd/yyyy" formControlName="toDate" #toDateInput dateFormat="mm/dd/yy" showIcon="true" [maxDate]="maxToDate"
                                icon="fa-calendar" inputStyle="" [(ngModel)]="toDate" inputStyleClass="form-control" [inline]="false"
                                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2017"></p-calendar>
                               <analytics-calendar-error-messages [control]="byPartnerForm.controls.toDate" [htmlElem] = "toDateInput">
                                </analytics-calendar-error-messages> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-9">
                        <div class="form-group sd-padding-top">
                            <label for="brand"><h3>BRAND</h3></label>
                            <p-multiSelect [options]="brandList" formControlName="brands" [(ngModel)]="selectedBrand" [style]="{'width':'100%'}"
                                styleClass="width100" defaultLabel="Multi Select Brand"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-9">
                        <div class="form-group sd-padding-top">
                            <label for="brand"><h3>STATE</h3></label>
                            <p-multiSelect [options]="stateList" formControlName="states" [(ngModel)]="selectedState" [style]="{'width':'100%'}"
                                styleClass="width100" defaultLabel="Multi Select State"></p-multiSelect>
                        </div>
                    </div>                    
                    <div class="row no-gutters actionControlsContainer">
                        <div class="form-group text-center mx-auto">
                            <button class="search-button" type="submit"></button>
                            <button class="clear-button" type="reset" name="clear" (click)="resetResult();resetByPartnerForm();"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12-col-xs-12 block-group sd-margin-top mt-4 mb-4" [ngClass]="{ 'empty-result': !reportByPartnerSearchList }">
        <h2 (click)="showForm = !showForm">
            Result {{ countMessage }}
            <a class="accordion-icon" >
                <span [ngClass]="{'expand-icon': !showForm, 'collapse-icon': showForm }"></span>
            </a>
        </h2>
        <div style="width:100%;height:auto;" class="report-tab">
            <div class="row user-result-list"  [hidden]='!showForm' *ngIf=" reportByPartnerSearchList && reportByPartnerSearchList.length > 0">
                <div class="col-12">
                        <div class="result-set-info-top"></div>
                        <span class="help-popup">
                        <a (click)="helpByPartnerModal.show()" class="table-hidden-content"><img src="./assets/images/info-icon.png" title="Help" /></a>
                            <sd-bypartner-help #helpByPartnerModal [title]="'Help'"></sd-bypartner-help> 
                        <a><img src="./assets/images/download-icon_27.png" (click)="saveDownloadData()" alt="download" title="Download" /></a> 
                    </span>
                </div>
                <div class="col-12 user-result-list-inner ui-paginator-list-top advanced-result noresultfnd1">
                        <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>DATE</th>
                            <th>PARTNER</th>
                            <th colspan="5" class='txtAlignC'>MEDICARE ADVANTAGE</th>
                            <th colspan="5" class='txtAlignC'>MEDICARE SUPPLEMENT</th>
                            <th colspan="5" class='txtAlignC'>PDP</th>
                          </tr>
                        </thead> 
                        <tbody>
                          <tr class="subHeader">
                            <td colspan="2"></td>
                            <td title="Enrolling" class='txtAlignR'><i class="fa fa-file-o" aria-hidden="true"></i></td>
                            <td title="Potentials" class='txtAlignR'><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td title="Sales" class='txtAlignR'><i class="fa fa-suitcase" aria-hidden="true"></i></td>
                            <td title="Returns" class='txtAlignR'><i class="fa fa-times-circle-o" aria-hidden="true"></i></td>
                            <td title="Total" class='txtAlignR padR'><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                            <td title="Enrolling" class='txtAlignR'><i class="fa fa-file-o" aria-hidden="true"></i></td>
                            <td title="Potentials" class='txtAlignR'><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td title="Sales" class='txtAlignR'><i class="fa fa-suitcase" aria-hidden="true"></i></td>
                            <td title="Returns" class='txtAlignR'><i class="fa fa-times-circle-o" aria-hidden="true"></i></td>
                            <td title="Total" class='txtAlignR padR'><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                            <td title="Enrolling" class='txtAlignR'><i class="fa fa-file-o" aria-hidden="true"></i></td>
                            <td title="Potentials" class='txtAlignR'><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td title="Sales" class='txtAlignR'><i class="fa fa-suitcase" aria-hidden="true"></i></td>
                            <td title="Returns" class='txtAlignR'><i class="fa fa-times-circle-o" aria-hidden="true"></i></td>
                            <td title="Total" class='txtAlignR'><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                          </tr>
                          <tr *ngFor="let byPartnerRow of reportByPartnerSearchList">
                                <td>{{ byPartnerRow.dateStr }}</td>
                                <td class="padR">{{ byPartnerRow.partner }}</td>

                                <td class='txtAlignR'>{{ byPartnerRow.maEnrolling }}</td>
                                <td class='txtAlignR'>{{ byPartnerRow.maPotentials }}</td>
                                <td class='txtAlignR'>{{ byPartnerRow.maSales }}</td>
                                <td class='txtAlignR'>{{ byPartnerRow.maReturns }}</td>
                                <td class='fontWtBold padR'>{{ byPartnerRow.maTotal }}</td>

                                <td class='txtAlignR'>{{ byPartnerRow.msEnrolling }}</td>
                                <td class='txtAlignR'>{{ byPartnerRow.msPotentials }}</td>
                                <td class='txtAlignR'>{{ byPartnerRow.msSales }}</td>
                                <td class='txtAlignR'>{{ byPartnerRow.msReturns }}</td>
                                <td class='fontWtBold padR'>{{ byPartnerRow.msTotal }}</td>

                                <td class='txtAlignR'>{{ byPartnerRow.pdpEnrolling }}</td>
                                <td class='txtAlignR'>{{ byPartnerRow.pdpPotentials }}</td>
                                <td class='txtAlignR'>{{ byPartnerRow.pdpSales }}</td>
                                <td class='txtAlignR'>{{ byPartnerRow.pdpReturns }}</td>
                                <td class='fontWtBold'>{{ byPartnerRow.pdpTotal }}</td>
                          </tr>
                        </tbody>
                      </table>
                        </div>
                </div>
                <!-- <div class="result-set-info">1-10 of 85 Results.</div> -->
            </div>
            <div class="row user-result-list" *ngIf="noSearchResult" [hidden]='!showResult'>
                <div class="col-12 error-input"><span class="error-message"><i class="fa fa-exclamation-triangle"></i> {{ noSearchResult }} </span></div>
            </div>
        </div>
    </div>
</div>
